* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background: #efefef;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    max-width: 900px;
    height: 572px;
    margin: auto;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 50, .05);
}

#sort-view {
    overflow: hidden;
    height: 400px;
    margin-bottom: 48px;
}

#sort-view ul {
    position: relative;
    height: 100%;
    list-style: none;
}

#sort-view li {
    position: absolute;
    bottom: 0;
    display: inline-block;
    min-width: 1px;
    transition: all 0 ease;
    border-radius: 100px 100px 0 0;
    background-color: #666;
}

.sorting {
    background-color: #1aede9 !important;
}

.option {
    padding-bottom: 20px;
    background: inherit;
}

.row {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
}

.row>* {
    height: 46px;
    margin: 10px 8px;
    font-family: inherit;
    letter-spacing: 1px;
    color: rgb(59, 153, 197);
    border: 1px solid rgb(59, 153, 197);
}

select {
    display: inline-block;
    width: 100px;
    padding-left: 6px;
    font-size: inherit;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 4px;
    outline: 0;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAElBMVEUAAAA7mcQ6l8U6mMU6mcU7mcV2nTSZAAAABXRSTlMAoGCQgFsu3a4AAABBSURBVDjLYxgFIxaIhkJBIJoEI0xCAEMLXAN2LQLYbEFowNQigM1hrqGhwVhdzBQaqoDdL6pBODzJpMAwCoYPAACHfhABrDCuTQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: right 2px top 50%;
    background-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;  appearance: none;
    }

.input-box {
    display: inline-block;
    overflow: hidden;
    width: 138px;
    height: 46px;
    font-size: 0;
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
}

.input-box>* {
    margin: 0;
    font-size: 0;
    border: 0;
}

.input-box .key {
    display: inline-block;
    width: 86px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
}

.input-box .value {
    width: 30px;
    width: 50px;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1) inset; */
    vertical-align: baseline;
    color: inherit;
    border-left: 1px solid rgb(59, 153, 197);
    border-radius: 0;
    outline: 0;
}

button {
    width: 86px;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s ease;
    vertical-align: middle;
    letter-spacing: 1px;
    border-radius: 4px;
    outline: 0;
    background: inherit;
}

button:hover {
    color: #fff;
    background-color: rgb(59, 153, 197);
}

.disable {
    opacity: 0.5;
}

.disable:hover {
    color: inherit;
    background: inherit;
}

@media screen and (max-width: 576px) {
    body {
        padding: 4px;
    }

    .main {
        position: static;
        width: 100%;
        border-radius: 0;
    }

    #sort-view {
        margin-bottom: 10px;
    }

    .row {
        text-align: justify;

        justify-content: space-between;
    }

    select {
        width: calc(100% - 16px);
        font-size: 16px;
        border-radius: 4px;
        outline: 0;
        background: inherit;
    }
}