* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 900px;
    width: 100%;
    height: 572px;
    background-color: #fefefe;
    box-shadow: 0 0 10px 1px rgba(0, 0, 50, .05);
}

#sort-view {
    margin: 0 auto 18px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#sort-view ul {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

#sort-view ul:before,
#sort-view ul:after {
    display: inline-block;
    width: 0;
    height: 100%;
    content: '';
}

#sort-view li {
    position: absolute;
    bottom: 0;
    min-width: 1px;
    display: inline-block;
    border-radius: 100px 100px 0 0;
    background-color: #666;
    transition: all 0.05s;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: 100vmax;
    background-position-y: bottom;
}

.sorting {
    background-color: #1aede9 !important;
}

.sorting:before {
    content: "";
    display: block;
    border: 2px solid #29343B;
    border-radius: 100px 100px 0 0;
    height: 100%;
    position: relative;
    z-index: 1;
}

.btns {
    text-align: center;
    letter-spacing: 1px;
    color: #666;
    font-size: 13px;
    background: inherit;
    padding-bottom: 20px;
}

button,
input {
    margin: 2px 10px;
    width: 72px;
    height: 35px;
    border: 0;
    border-radius: 20px;
    outline: 0;
    transition: .4s linear;
    letter-spacing: 1px;
    color: #666;
    background-color: inherit;
}

input {
    border-radius: 0;
    text-align: center;
}

button:hover {
    background-color: #f5f5f5;
}

button.disabled {
    opacity: .2;
    background-color: inherit;
}

.move {
    position: relative;
}

.move:before {
    position: absolute;
    top: -20px;
    left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: inherit;
}